<h1>New Camper </h1>
<ul>
<% if flash[:errors]%>
    <% flash[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
<% end %>
</ul>

<br>
<%= form_for @camper do |f|%>
<%= f.label :name%>
<%= f.text_field :name%><br><br>

<%= f.label :age, "Age (must be 8-18)"%>
<%= f.number_field :age%><br><br>
<%= f.submit %>
<%end%>